ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:sienna;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:larger;
    

  }
  
  li a:hover {
    background-color: #111;
  }
  .active {
    background-color: #04AA6D;
  }
.container {
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:aliceblue;
    
    
}
.body{
    background-color:aliceblue;
}
.foo {
    text-align:center;    
    color:white;  
    border-radius: 0px;
    background-color:sienna;
    padding: 20px;
    width:100%;
    border: 0px solid black;
    margin-left:0px;
   margin-bottom:0px;
   margin-right:0px;
}
.h{
    text-align:center;
    background-color:aliceblue;
    color:darkcyan;
}
.ha{
    text-align:center;
    background-color:aliceblue;
    color:#9c2b71;
}
.h1{
    text-align:center;
    background-color:aliceblue;
    
}
.h2{
    padding-left: 50px;
}
img{
    border-radius: 0;
    width: 100%;
    height:auto;
    padding-left: 50px;
}
.image{
    flex-basis: 40%;
    
}
.text{
    font-size: 20px;
    padding-left: 50px; 
    color:#111;
}
.text1{
    font-size: 20px;
    padding-left: 20px; 
}
.feedback {
    
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    margin-top:50px;
    padding: 20px;
    width:50%;
    
    margin-left:30px;
    margin-bottom:60px;
  }
  .he {
    text-align:center;    
    color:white;  
    border-radius: 20px;
    background-color:#333;
    padding: 20px;
    width:80%;
    border: 2px solid black;
    margin-left:90px;
   margin-bottom:1px;
   margin-right:10px;
}
   input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
      }
      input[type=number], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
      }
  input[type=submit] {
    background-color:#333;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color:#111;
  }
.centerdiv{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
#aa{
    height:100px;
    width:100px;
    
    border-radius:50px;
    text-align:center;
    margin:10px;
    line-height:110px;
    box-shadow:1px 4px 2px 2px rgb(182, 178, 245);
}
#aa i{
    transition: all 0.3s linear;
}
#aa:hover i{
    transform: scale(1.4);
}
.fa-linkedin{
    color: #6ac0ee;
}
.fa-github{
    color: #111;
}
.fa-envelope{
    color: #e84118;
}
.fa-instagram{
    color: #9c2b71;
}

body{

background-color:whitesmoke;
margin:0%;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
}



